body {
}

.cnt-player-info {
    text-align: center;
}

.tb-board td {
    border: 1px solid #CCC;
    padding: 2px;
    width: 30px;
    text-align: center;
    background-color: lightcyan;
}

    .tb-board td.visible {
        background-color: gray;
    }

    .tb-board td.active {
    }

.disabled .tb-board td {
    background-color: #CCC;
}

.ls-ships {
}

    .ls-ships li.selected {
        font-weight: bold;
    }


.cnt-board {
    text-align: center;
}
