@page
@model Seabattle.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script src="~/js/eventemitter3/umd/eventemitter3.js"></script>
    <script src="~/js/app/GameClient.js"></script>
    <script src="~/js/app/GameBoardComponent.js"></script>
    <script src="~/js/app/PageGame.js"></script>
}

<article id="cnt-main">

    <header class="main-title">
        <h1>SEABATTLE</h1>
    </header>
       
    <div v-if="isGameSessionFound">

        <div v-if="isFindingOpponent">
            <p>Finding opponent...</p>
        </div>

        <div v-else>

            <article class="cnt-boards">
                <section class="player">
                    <h1>YOU</h1>
                    <p>{{score}} point(s)</p>
                </section>
                <section class="board">
                    <my-game-board v-bind:width="mainBoard.size"
                                   v-bind:ships="mainBoard.ships"
                                   v-bind:shots="mainBoard.shots"
                                   v-on:cell-clicked="setShipPosition($event)">
                    </my-game-board>
                </section>
                <section class="fleet">
                    <ol class="ls-ships">
                        <li v-for="s in mainBoard.availableShips" v-on:click="selectShipForPosition(s)" v-bind:class="{ 'selected' : s ===  mainBoard.selectedShip, 'destroyed' : s.destroyed }">
                            {{s.type}} <span v-if="s.positioned">*</span>
                        </li>
                    </ol>

                    <p class="commands">
                        <button v-if="isAllShipsPositioned" v-on:click="playerIsReady()" class="btn-padrao">READY</button>
                    </p>
                </section>
            </article>

            <article class="cnt-boards border-top" v-if="isPlaying">
                <section class="player">
                    <h1>VS</h1>
                    <p>&nbsp;</p>
                </section>
                <section v-bind:class="{ board: true, disabled: !isMyTurn }">
                    <my-game-board v-bind:width="opponentBoard.size"
                                   v-bind:ships="opponentBoard.ships"
                                   v-bind:shots="opponentBoard.shots"
                                   v-on:cell-clicked="shootOpponent($event)">
                    </my-game-board>
                </section>
                <section class="fleet">
                    <ul class="ls-ships"></ul>
                </section>
            </article>

        </div>

    </div>

    <div v-else>
        <button v-on:click="tryFindNewGameSession()" class="btn-padrao">NEW GAME</button>
    </div>


</article>

