@page
@model Seabattle.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script src="~/js/app/PageGame.js"></script>
}


<article id="cnt-main">

    <header>
        <h1>GAME SESSION</h1>
        <h4>{{gameSession.id}}</h4>
    </header>

    <div class="pure-g" v-if="isInGame">

        <div class="pure-u-1-2">
            <h5>YOU ({{gameSession.playerId}})</h5>

            <my-game-board v-bind:public="true" v-bind:width="board1.size" v-bind:ships="board1.positioned" v-on:cell-clicked="positionShip($event)"></my-game-board>

            <ul class="ls-ships">
                <li v-for="s in board1.availableShips" v-on:click="selectShipForPosition(s)" v-bind:class="{ 'selected' : s ===  board1.selectedShip }">
                    {{s.type}} <span v-if="s.positioned">({{s.X}},{{s.Y}})</span>
                </li>
            </ul>

            <p>{{board1.selectedShipId}}</p>

        </div>

        <div class="pure-u-1-2">
            <h5>OPPONENT</h5>

            <my-game-board v-bind:public="false" v-bind:width="board2.size" v-bind:ships="board2.ships"></my-game-board>
        </div>
    </div>
    <div v-else>
        <p>Let's play?</p>
        <button v-on:click="findNewGameSession()">NEW GAME</button>
    </div>


</article>

