@page
@model Seabattle.Web.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

@section scripts {
    <script src="~/js/app/GameClient.js"></script>
    <script src="~/js/app/GameBoardComponent.js"></script>
    <script src="~/js/app/PageGame.js"></script>
}

<article id="cnt-main">

    <header>
        <h1>BATTLE</h1>
    </header>

    <div v-if="isInGameSession" class="pure-g">

        <div v-if="isFindingOpponent" class="pure-u-1-1">
            <p>Finding opponent...</p>
        </div>

        <div v-else>

            <div class="pure-u-1-2">

                <h5>YOUR BOARD ({{score}} pts)</h5>
                
                <my-game-board v-bind:public="true"
                               v-bind:width="mainBoard.size"
                               v-bind:ships="mainBoard.ships"
                               v-bind:shots="mainBoard.shots"
                               v-on:cell-clicked="setShipPosition($event)">
                </my-game-board>


                <div v-if="isPreparingBoard">
                    <ul class="ls-ships">
                        <li v-for="s in mainBoard.availableShips" v-on:click="selectShipForPosition(s)" v-bind:class="{ 'selected' : s ===  mainBoard.selectedShip }">
                            {{s.type}} <span v-if="s.positioned">({{s.X}},{{s.Y}})</span>
                        </li>
                    </ul>

                    <p>
                        <button v-if="isAllShipsPositioned" v-on:click="playerIsReady()">READY!</button>
                    </p>
                </div>

            </div>

            <div class="pure-u-1-2" v-if="isPlaying">

                <h5>OPPONENT's BOARD</h5>

                <div v-bind:class="{ disabled: !isMyTurn }">
                    <my-game-board v-bind:public="true"
                                   v-bind:width="opponentBoard.size"
                                   v-bind:ships="opponentBoard.ships"
                                   v-bind:shots="opponentBoard.shots"
                                   v-on:cell-clicked="shootOpponent($event)">
                    </my-game-board>
                </div>
            </div>

        </div>

    </div>

    <div v-else>
        <p>Let's play?</p>
        <button v-on:click="tryFindNewGameSession()">NEW GAME</button>
    </div>


</article>

